body {
    font-family: Arial, sans-serif;
    background-color: #966565;
    margin: 10;
    padding: 5;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
}

#taskInput {
    width: calc(100% - 100px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#addButton {
    padding: 10px 20px;
    background-color: #27eb00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#addButton:hover {
    background-color: #bce115;
}

ul {
    list-style: none;
    padding: 11;
}

li {
    padding: 5px;
    border-bottom: 1px solid #d0c8c8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}

button.remove {
    background: #d0c9ca;
    color: rgb(11, 11, 7);
    border: none;
    border-radius: 5px;
    padding: 6px 11px;
    cursor: pointer;
}

button.remove:hover {
    background: #c91a29;
}
